.detalils-name {
  margin: 0 auto;
  padding: 20px 0px;
  font-size: 22px;
  font-weight: 500;
  padding-bottom: 15px;
  border-bottom: 1px solid lightgray;
}
.detalils-name a {
  font-size: 15px;
  color: #0a5bff;
  transition: all 0.2s linear;
  display: inline-block;
  margin-left: 30px;
}
.detalils-name a:hover {
  color: #112d6b;
}
.details-info {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
  gap: 10px;
}
.details-img {
  width: 35%;
  height: 375px;
}
.details-img img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.details-choice {
  width: 50%;
  padding: 10px;
  padding-top: 0px;
}
.details-price {
  font-size: 28px;
  color: red;
  font-weight: 500;
  margin-bottom: 10px;
}
.details-note {
  font-style: italic;
  font-weight: 400;
  margin-bottom: 10px;
}
.details-condition {
  color: #30a43b;
  margin-bottom: 10px;
}
.details-condition span {
  color: #333;
  font-weight: bold;
}
.details-size {
  width: 100%;
  border-top: 1px solid lightgray;
}
.details-size .details-size--title,
.details-quantity--title {
  margin-top: 10px;
  color: #333;
  font-weight: bold;
}
.details-quantity {
  margin-top: 20px;
}
.details-buy {
  margin-top: 30px;
}
.details-buy button {
  display: block;
  background: #112d6b;
  font-size: 14px;
  outline: none;
  border: none;
  box-shadow: none;
  padding: 10px;
  color: #fff;
  height: auto;
  line-height: inherit;
  width: 100%;
  border-radius: 2px;
  transition: all 0.25s ease;
}
.details-buy button:hover {
  background-color: #081738;
}
.details-buy button .txt-main {
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.details-help {
  width: 25%;
  border: 1px solid lightgray;
  height: 100%;
  padding: 20px;
  text-align: center;
}
.details-help--title {
  font-size: 17px;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.details-help--txt {
  font-size: 15px;
  margin-top: 10px;
}
.details-help--number {
  font-size: 20px;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 600;
  color: #1fb349;
  margin-top: 10px;
}
.box-size {
  margin-top: 10px;
  display: flex;
}
.size-checked {
  width: 35px;
  height: 35px;
  background-color: white;
  position: relative;
  transition: all 0.2s linear;
  margin-right: 10px;
}
.size-checked input {
  /* visibility: hidden; */
  opacity: 0;
}
.size-checked label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 100%;
  height: 100%; */
  padding: 10px 11px;
  border: 1px solid lightgray;
  color: #333;
  transition: all 0.2s linear;
}
.size-checked input[type="radio"]:checked + label {
  border-color: #e6484a;
}
.size-checked input[type="radio"]:checked + label::before {
  content: "\25E2";
  position: absolute;
  bottom: -5px;
  right: -2px;
  font-size: 16px;
  color: #e6484a;
}
.size-checked input[type="radio"]:checked + label::after {
  content: "\f00c";
  font-family: Fontawesome;
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  font-size: 6px;
}
/* -- quantity box -- */

.quantity {
  display: inline-block;
}

.quantity .input-text.qty {
  width: 60px;
  height: 39px;
  padding: 0 5px;
  text-align: center;
  background-color: transparent;
  border: 1px solid lightgray;
}

.quantity.buttons_added {
  margin-top: 5px;
  text-align: left;
  position: relative;
  white-space: nowrap;
  vertical-align: top;
}

.quantity.buttons_added input {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
  padding: 7px 15px 8px;
  height: 39px;
  background-color: #ffffff;
  border: 1px solid lightgray;
  cursor: pointer;
  font-size: 20px;
  /* font-weight: 500; */
  transition: all 0.2s linear;
}

.quantity.buttons_added .minus {
  border-right: 0;
}

.quantity.buttons_added .plus {
  border-left: 0;
}

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
  border-color: #112d6b;
  background: #112d6b;
  color: white;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
  outline: none;
}
.details-boxicon {
  margin-top: 15px;
  /* border: 1px solid red; */
  /* position: relative; */
  transition: all 0.2s linear;
}
.details-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 3px;
  transition: all 0.2s linear;
  cursor: pointer;
}
.details-boxicon .details-icon:hover {
  transform: translateY(-7px);
}
.details-icon img {
  width: 100%;
  height: 100%;
}
.details-mid {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.details-description {
  width: 77%;
  /* border: 1px solid red; */
}
.margin-top {
  margin-top: 40px;
}
.details-description--title {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  border: 1px solid lightgray;
  margin: 0 auto;
  padding: 15px 60px;
  border-radius: 100rem;
  width: 50%;
  position: relative;
  /* background-color: white; */
}
.details-description--title::before {
  content: "";
  width: 50.5%;
  height: 1px;
  background-color: lightgray;
  /* background-color: red;/ */
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: -10;
}
.details-description--title::after {
  content: "";
  width: 50.5%;
  height: 1px;
  background-color: lightgray;
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: -10;
}
.details-description--content {
  margin-top: 25px;
  font-size: 15px;
  line-height: 2;
  border: 1px solid lightgray;
  padding: 10px;
  text-align: justify;
  border-radius: 2px;
}
.details-suggestions {
  width: 23%;
}
.details-suggestions--title {
  padding: 13px;
  text-align: center;
  font-size: 18px;
  border: 1px solid lightgray;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.details-description--comment {
  margin-top: 30px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}
.description--comment--top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.description--comment--main {
  border-top: 1px solid lightgray;
  margin-top: 20px;
}
.comment-count {
  font-weight: 500;
  width: 50%;
}
.comment-filter {
  /* border: 1px solid blue; */
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.comment-filter select {
  padding: 2px;
  border: none;
  outline: none;
  border: 1px solid lightgray;
  background-color: rgba(211, 211, 211, 0.4);
  border-radius: 2px;
}
.details-suggestions--product {
  padding: 10px 5px;
  border: 1px solid lightgray;
  border-top: none;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  gap: 10px;
  /* border: 1px solid green; */
}
.suggestions--product--img {
  border: 1px solid lightgray;
  width: 30%;
  padding: 2px;
  cursor: pointer;
  transition: all 0.2s linear;
  height: 72px;
}
.suggestions--product--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.suggestions--product--img:hover {
  border-image: linear-gradient(to right, #c26af5, #57eeff);
  border-image-slice: 1;
}
.suggestions--product--info {
  width: 70%;
}
.suggestions--name {
  width: 100%;
  margin-bottom: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 16px;
}
.suggestions--price--off {
  display: inline-block;
  margin-right: 10px;
  color: #112d6b;
  font-weight: 600;
  /* font-size: 14px; */
}
.suggestions--price--sale {
  display: inline-block;
  font-size: 12px;
  text-decoration: line-through;
  color: #bbb;
}
.similar-products {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1200px;
  /* border: 1px solid red; */
  margin-top: 20px;
  gap: 10px;
}
.width-20 {
  /* border: 1px solid blue; */
  padding: 0px;
  width: 25%;
}
.width-img {
  /* border: 1px solid green; */
  width: 100%;
  height: 220px;
}
.width-img img {
  /* object-fit: cover; */
  height: 100%;
  background-size: 100% 100%;
}
.similar-title {
  /* margin-top: 50px; */
  margin-top: 200px;
  margin: 0 auto;
  border-bottom: 1px solid lightgray;
  position: relative;
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 5px;
  width: 1200px;
}
.similar-title::before {
  content: "";
  width: 222px;
  height: 1.5px;
  background-color: #112d6b;
  position: absolute;
  left: 0;
  bottom: 1px;
  z-index: 2;
  transform: translateY(100%);
}
.similar-title a {
  color: #333;
}
#status-pro {
  color: #30a43b;
  font-weight: normal;
}
