.header {
  background-color: #112d6b;
  padding: 13px;
}
.header-top {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  /* border: 1px solid red; */
  color: white;
  padding: 0px 50px 0px 5px;
  /* padding: 0px 15px; */
}
.width-normal {
  width: 1200px;
}
/* .header-top-logo {
} */
.header-top-logo img {
  max-width: 204px;
}
.header-top-search {
  width: 40%;
  /* border: 1px solid green; */
}
.header-top-search input {
  padding: 12px 15px;
  /* border-radius: 3px; */
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: none;
  outline: none;
  width: 87%;
  /* display: inline-block; */
}
.header-top-search button {
  transform: translateY(1px);
  padding: 12px;
  width: 12%;
  /* border-radius: 3px; */
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-left: -3px;
  /* display: inline-block; */
  background-color: #333333;
  border: none;
  outline: none;
}
.fa-search {
  color: white;
  font-weight: bolder;
  font-size: 16px;
}
.header-top-phone {
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
/* .header-top-phone .phone-icon {
} */
.fa-mobile-alt {
  font-size: 20px;
  animation: phone-ring 1s ease-in-out infinite;
}
.phone-number {
  font-weight: 500;
}
.header-top-account {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.account-icon {
  background-color: #0a1a3f;
  padding: 12px 14px;
  border-radius: 100rem;
  /* width: 42px;
  height: 42px; */
}
/* .account-icon img {
  width: 100%;
  height: 100%;
  border-radius: 100rem;
  object-fit: cover;
} */
/* .account-content {
}
.account-title {
} */
.account-hello {
  font-size: 12px;
}
.header-top-cart {
  position: relative;
}
.header-top-cart .cart-count {
  width: 25px;
  height: 25px;
  background: linear-gradient(to right, #ff9800, #f44336);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100rem;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.cart-icon {
  background-color: #0a1a3f;
  padding: 12px 14px;
  border-radius: 100rem;
  cursor: pointer;
}
@keyframes phone-ring {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}
.main-navagation {
  /* padding: 10px 0px; */
  background-color: #fc0137;
  text-transform: uppercase;
  width: 100%;
  position: relative;
}
.navigation-horizontal {
  /* border: 1px solid green; */
  display: block;
  margin: 0 auto;
}
.navigation-horizontal ul {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.navigation-horizontal ul li {
  display: inline-block;
}
.navigation-horizontal ul li a {
  padding: 13px 8px;
  color: white;
  line-height: 15px;
  /* background-color: blue; */
  display: inline-block;
  transition: all 0.2s linear;
  font-size: 13.5px;
  font-weight: 500;
  position: relative;
  transition: all 0.25s linear;
  transition: background-color 0.25s linear 0.15s;
}
.navigation-horizontal ul li a :visited {
  background-color: blue;
}
.navigation-horizontal ul li a span {
  position: absolute;
  transition: all 0.25s linear;
  background-color: white;
}
.navigation-horizontal ul li a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
}
.navigation-horizontal ul li a span:nth-child(2) {
  top: 0;
  right: 0;
  width: 2.5px;
  height: 0;
}
.navigation-horizontal ul li a span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
}
.navigation-horizontal ul li a span:nth-child(4) {
  bottom: 0;
  left: 0;
  width: 2px;
}
.navigation-horizontal ul li a:hover span:nth-child(odd) {
  width: 100%;
}
.navigation-horizontal ul li a:hover span:nth-child(even) {
  height: 100%;
}
.navigation-horizontal ul li a:hover {
  background-color: #575454;
}
.header-top-account {
  position: relative;
  cursor: pointer;
}
.account-hover {
  width: 180px;
  background-color: white;
  position: absolute;
  top: 50px;
  left: 30px;
  z-index: 555;
  padding: 5px 10px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
}
.account-hover::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: white;
  top: -5px;
  left: 20px;
  transform: rotateZ(45deg);
  z-index: -10;
}
.header-top-account:hover .account-hover {
  transition: all 0.3s linear;
  opacity: 1;
  visibility: visible;
}
.account-hover ul {
  list-style: none;
}
.account-hover ul li {
  padding: 3px;
}
.account-hover ul li a {
  transition: all 0.2s linear;
  color: #0a1a3f;
}
.account-hover ul li a:hover {
  color: red;
}
.bottom-nav {
  background-color: rgba(211, 211, 211, 0.2);
  padding: 13px 0px;
}
.bottom-nav--title {
  margin: 0 auto;
}
.blue {
  color: #112d6b;
}
.fa-chevron-right {
  font-size: 12px;
  color: gray;
}
.bottom-nav--title a {
  color: gray;
  transition: all 0.2s linear;
}
.bottom-nav--title a:hover {
  color: #0a1a3f;
  color: #112d6b;
}
